<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <span><a class="btn btn-success" href="/create">Add</a></span>

    <table class="table">

        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Singer</th>
            <th scope="col">Song Type</th>
            <th scope="col">Link</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>

        <tr th:each="song, status : ${songList}">
            <td th:text="${status.count + songList.number * songList.size}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.singer}"></td>
            <td th:text="${song.songType}"></td>
            <td th:text="${song.link}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/edit/__${song.id}__}">Edit</a>
            </td>
            <td>
                <button th:attr="onclick=|getNameId('${song.id}','${song.name}')|" type="button"
                        class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Remove
                </button>
            </td>
        </tr>

    </table>
    <span>
        <a th:href="@{/blog(page=${songList.number - 1})}" th:if="${songList.hasPrevious()}">Previous</a>
        <a th:href="@{/blog(page=${songList.number + 1})}" th:if="${songList.hasNext()}">Next</a>
    </span>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/blog/remove" method="post">
                    <div class="modal-body">
                        <p>Are you sure to delete</p>
                        <p id="deleteName"></p>
                        <input type="hidden" id="deleteId" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function getNameId(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
</html>