<div class="row w-100" style="min-height: 33.5rem" *ngIf="flagDisplay == true; else elseBlock">
  <div class="col-2"></div>
  <form [formGroup]="formCreate" (ngSubmit)="createOder()" class="col-8 my-5">
    <div class="mb-3 row">
      <label for="name" class="col-sm-4 col-form-label">Họ tên người nhận hàng:</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" id="name" value="{{customer.name}}">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPhone" class="col-sm-4 col-form-label">Số điện thoại:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="deliveryPhone" class="form-control" id="inputPhone">
        <div class="text-danger"
             *ngIf="formCreate.controls.deliveryPhone.invalid && formCreate.controls.deliveryPhone.touched else elseBlock">
          <span *ngIf="formCreate.controls.deliveryPhone.hasError('required')">Không được để trống</span>
          <span *ngIf="formCreate.controls.deliveryPhone.hasError('pattern')">Hãy nhập số điện thoại</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputaddress" class="col-sm-4 col-form-label">Địa chỉ giao hàng:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="deliveryAddress" class="form-control" id="inputaddress">
        <div class="text-danger"
             *ngIf="formCreate.controls.deliveryAddress.invalid && formCreate.controls.deliveryAddress.touched else elseBlock">
          <span *ngIf="formCreate.controls.deliveryAddress.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-lg"
                style="background-color: #008080; width: 100%" [disabled]="!formCreate.valid">
          Thanh toán khi nhận hàng
        </button>
        <button type="button" class="btn btn-lg my-3"
                style="background-color: #008080; width: 100%" (click)="createOderWithPay()"
                [disabled]="!formCreate.valid">Thanh toán trực tuyến
        </button>
      </div>
    </div>
  </form>
  <div class="col-2"></div>
</div>
<ng-template #elseBlock>
  <div class="row" style="height: 34.5rem; margin: 0; padding: 0">
    <div class="d-flex align-items-center justify-content-center col-12">
      <h2 class="text-primary">Không có sản phẩm nào trong giỏ hàng</h2>
    </div>
    <div class="d-flex justify-content-center col-12">
      <a routerLink="/" type="button" class="text-primary" style="text-decoration: none">Trờ lại trang chủ</a>
    </div>
  </div>
</ng-template>
