<div class="m-0" *ngIf="flagDisplay != false; else elseBlock">
  <div class="row w-100 px-5" style="min-height: 34.5rem">
    <div class="col-lg-12">
      <div class="my-4">
        <h3>Giỏ hàng của bạn</h3>
      </div>
      <div class="row my-5">
        <div class="col-lg-9">
          <table>
            <tr>
              <th style="text-align: center; width: 30rem">Sản phẩm</th>
              <th style="text-align: center; width: 8rem">Giá</th>
              <th style="text-align: center; width: 15rem">Số lượng</th>
              <th style="text-align: center; width: 8rem">Thành tiền</th>
              <th style="text-align: center; width: 4rem">Xoá</th>
            </tr>
            ​
            <tr *ngFor="let item of cartList" style="min-height: 90px">
              <td class="row d-flex justify-content-center align-items-center">
                <div class="col-3">
                  <a [routerLink]="['/product/detail', item.idProduct]">
                    <img src="{{item.image}}" style="height: 75px; width: 75px" alt="No Image"/>
                  </a>
                </div>
                <div class="col-9">
                  <a [routerLink]="['/product/detail', item.idProduct]" style="color: black">
                    <p>
                      {{item.name | slice: 0: 130}}
                    </p>
                  </a>
                </div>
              </td>
              <td style="text-align: right">{{item.cost | number}}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <button style="width: 30px" class="btn btn-outline-primary btn-sm me-2" type="button" (click)="subNumberOfProduct(item)">-</button>
                  <label>
                    <input #numberOfProduct style="width: 40px; border: solid 1px #3167eb" type="text" class="form-control-sm text-center"
                           value="{{item.numberOfProduct}}">
                  </label>
                  <button style="width: 30px" class="btn btn-outline-primary btn-sm ms-2" type="button" (click)="addNumberOfProduct(item)">+</button>
                </div>
              </td>
              <td style="text-align: right">{{item.totalCost | number}}</td>
              <td class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn d-flex justify-content-center  align-items-center" (click)="deleteCart(item.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-trash"
                       viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </table>
          ​
        </div>
        ​
        <div class="col-lg-3">
          ​
          <div style="background-color: gainsboro; min-height: 17vh">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10 mt-2">
                <div class="row">
                  <div class="col-lg-6">Tạm tính:</div>
                  <div class="col-lg-6 text-end">{{totalCost | number}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-6">Giảm giá:</div>
                  <div class="col-lg-6 text-end">0 VND</div>
                </div>
                <hr>
                <div class="row mb-2">
                  <div class="col-lg-6">Tổng tiền:</div>
                  <div class="col-lg-6 text-end">{{totalCost | number}}</div>
                </div>
              </div>
              <div class="col-lg-1"></div>
            </div>
          </div>
          ​
          <div class="row mt-2">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <button type="button" class="btn btn-lg" style="background-color: #008080; width: 100%">Mua hàng</button>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
        ​
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="row" style="height: 34.5rem; margin: 0; padding: 0">
    <div class="d-flex align-items-center justify-content-center col-12">
      <h2 class="text-primary">Không có sản phẩm nào trong giỏ hàng</h2>
    </div>
    <div class="d-flex justify-content-center col-12">
      <a routerLink="/" type="button" class="text-primary" style="text-decoration: none">Trờ lại trang chủ</a>
    </div>
  </div>
</ng-template>
