<div id="payments" style="min-height: 35.7rem" class="d-flex justify-content-center align-items-center">
</div>
  <div *ngIf="flagDisplay==false" class="row" style="height: 34.5rem; margin: 0; padding: 0">
    <div class="d-flex align-items-center justify-content-center col-12">
      <h2 class="text-primary">Sản phẩm không đúng</h2>
    </div>
    <div class="d-flex justify-content-center col-12">
      <a routerLink="/" type="button" class="text-primary" style="text-decoration: none">Trờ lại trang chủ</a>
    </div>
  </div>
