<div *ngIf="flagDisplay == true; else elseBlock" class="container-fluid">
  <div class="row my-5">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <div class="card card-body w-100" style="max-height: 475px">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators" style="margin-bottom: -1rem">
            <button (click)="changeImage(item.url)" *ngFor="let item of productDetail.imageSet" style="width: 5rem;"
                    type="button"
                    class="active rounded ms-1">
              <img src="{{item.url}}"
                   class="d-block w-100" alt="Click me!">
              <!--                style="border: inset #585858 4px; border-radius: 1px"-->

            </button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active d-flex justify-content-center">
              <img
                src="{{url}}"
                class="d-block" style="max-width: 100%; max-height: 400px" alt="...">
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="link">Tác giả: </span>
      <span class="link">{{productDetail.author}}</span>
      <h4 class="mt-2" style="max-height: 90px">{{productDetail.name}}</h4>
      <hr>
      <div class="row mt-2">
        <h1 class="text-danger">Giá {{productDetail.cost|number}} VNĐ</h1>
      </div>
      <hr>
      <div class="d-flex align-items-center my-3">
        <span>Số lượng: </span>
        <button class="btn btn-sm btn-primary mx-1" style="width: 25px" (click)="subAmountOrder()">-</button>
        <input class="form-control-sm mx-1" style="width: 35px;text-align: center" type="number" [(ngModel)]="numberOrder">
        <button class="btn btn-sm btn-primary mx-1" style="width: 25px" (click)="addAmountOrder()">+</button>
      </div>
      <button class="btn btn-primary" (click)="addToCart()">
        <span>Thêm vào giỏ hàng</span>
      </button>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="hr_value"><h3>Thông tin chi tiết</h3></div>
      <div class="row">
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Công ty phát hành</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>{{productDetail.issuingCompany}}</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Ngày xuất bản</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>{{productDetail.publicationDate}}</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Loại bìa</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>{{productDetail.coverType}}</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Số trang</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>{{productDetail.numberOfPages}}</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Nhà xuất bản</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>{{productDetail.publisher}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>

  <div class="row col-lg-12 my-5">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="hr_value"><h3>Mô tả sản phẩm</h3></div>
      <div>
        <p style="font-family: Arial,serif, sans-serif" class="mt-2">
          {{productDetail.description}}
        </p>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
<ng-template #elseBlock class="align-center">
  <h1>Không có nội dung.</h1>
</ng-template>
