<div class="container-fluid">
  <div class="row my-5">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <div class="card card-body w-100">
        <div class="card card-body w-100">
          <div id="carouselExampleCaptions" class="carousel slide mb-3" data-bs-ride="false">
            <div class="carousel-indicators">
              <button style="width: 5rem;" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="0" class="active rounded"
                      aria-current="true" aria-label="Slide 1">
                <img style="border: inset #585858 4px; border-radius: 1px"
                     src="https://salt.tikicdn.com/cache/750x750/ts/product/45/3b/fc/aa81d0a534b45706ae1eee1e344e80d9.jpg.webp"
                     class="d-block w-100" alt="...">
              </button>
              <button style="width: 5rem" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="1"
                      aria-label="Slide 2">
                <img style="border: inset #585858 4px; border-radius: 1px"
                     src="https://salt.tikicdn.com/cache/750x750/ts/review/17/bf/15/6c0b3a2c48a38d51b1cd62afd846dd5d.jpg.webp"
                     class="d-block w-100" alt="...">
              </button>
              <button style="width: 5rem" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="2"
                      aria-label="Slide 3">
                <img style="border: inset #585858 4px; border-radius: 1px"
                     src="https://salt.tikicdn.com/cache/750x750/ts/review/58/7d/1c/f212027caeb976b61d4a4e0fe1dd492e.jpg.webp"
                     class="d-block w-100" alt="...">
              </button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="https://salt.tikicdn.com/cache/750x750/ts/product/45/3b/fc/aa81d0a534b45706ae1eee1e344e80d9.jpg.webp"
                  class="d-block w-100" alt="...">
                <!--                        <div class="carousel-caption d-none d-md-block">-->
                <!--                            <h5>First slide label</h5>-->
                <!--                            <p>Some representative placeholder content for the first slide.</p>-->
                <!--                        </div>-->
              </div>
              <div class="carousel-item">
                <img
                  src="https://salt.tikicdn.com/cache/750x750/ts/review/17/bf/15/6c0b3a2c48a38d51b1cd62afd846dd5d.jpg.webp"
                  class="d-block w-100" alt="...">
                <!--                        <div class="carousel-caption d-none d-md-block">-->
                <!--                            <h5>Second slide label</h5>-->
                <!--                            <p>Some representative placeholder content for the second slide.</p>-->
                <!--                        </div>-->
              </div>
              <div class="carousel-item">
                <img
                  src="https://salt.tikicdn.com/cache/750x750/ts/review/58/7d/1c/f212027caeb976b61d4a4e0fe1dd492e.jpg.webp"
                  class="d-block w-100" alt="...">
                <!--                        <div class="carousel-caption d-none d-md-block">-->
                <!--                            <h5>Third slide label</h5>-->
                <!--                            <p>Some representative placeholder content for the third slide.</p>-->
                <!--                        </div>-->
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="link">Tác giả: </span>
      <span class="link">Paulo Coelho</span>
      <h4 class="mt-2" style="height: 90px;">Nhà Giả Kim (Tái Bản 2020)</h4>
      <hr>
      <div class="row mt-2">
        <h1 class="text-danger">Giá 57.300đ</h1>
      </div>
      <hr>
      <p>Số lượng</p>
      <button class="btn btn-primary">
        <h5>Thêm vào giỏ hàng</h5>
      </button>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="hr_value"><h3>Thông tin chi tiết</h3></div>
      <div class="row">
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Công ty phát hành</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>Nhã Nam</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Ngày xuất bản</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>01/04/2020</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Loại bìa</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>Bìa mềm</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Số trang</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>228</p>
        </div>
        <div class="col-lg-4 my-1" style="background-color: #f2f2f2">
          <p><b>Nhà xuất bản</b></p>
        </div>
        <div class="col-lg-8 my-1" style="background-color: #f8f9fa">
          <p>01/04/2020</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>

  <div class="row col-lg-12 my-5">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="hr_value"><h3>Mô tả sản phẩm</h3></div>
      <div>
        <p style="font-family: Arial,serif, sans-serif" class="mt-2">
          Tất cả những trải nghiệm trong chuyến phiêu du theo đuổi vận mệnh của mình đã giúp Santiago thấu hiểu được ý
          nghĩa sâu xa nhất của hạnh phúc, hòa hợp với vũ trụ và con người. Tiểu thuyết Nhà giả kim của Paulo Coelho như
          một câu chuyện cổ tích giản dị, nhân ái, giàu chất thơ, thấm đẫm những minh triết huyền bí của phương Đông.
          Trong lần xuất bản đầu tiên tại Brazil vào năm 1988, sách chỉ bán được 900 bản. Nhưng, với số phận đặc biệt
          của cuốn sách dành cho toàn nhân loại, vượt ra ngoài biên giới quốc gia, Nhà giả kim đã làm rung động hàng
          triệu tâm hồn, trở thành một trong những cuốn sách bán chạy nhất mọi thời đại, và có thể làm thay đổi cuộc đời
          người đọc. “Nhưng nhà luyện kim đan không quan tâm mấy đến những điều ấy. Ông đã từng thấy nhiều người đến rồi
          đi, trong khi ốc đảo và sa mạc vẫn là ốc đảo và sa mạc. Ông đã thấy vua chúa và kẻ ăn xin đi qua biển cát này,
          cái biển cát thường xuyên thay hình đổi dạng vì gió thổi nhưng vẫn mãi mãi là biển cát mà ông đã biết từ thuở
          nhỏ. Tuy vậy, tự đáy lòng mình, ông không thể không cảm thấy vui trước hạnh phúc của mỗi người lữ khách, sau
          bao ngày chỉ có cát vàng với trời xanh nay được thấy chà là xanh tươi hiện ra trước mắt. ‘Có thể Thượng đế tạo
          ra sa mạc chỉ để cho con người biết quý trọng cây chà là,’ ông nghĩ.”
          Giá sản phẩm trên Tiki đã bao gồm thuế theo luật hiện hành. Bên cạnh đó, tuỳ vào loại sản phẩm, hình thức và
          địa chỉ giao hàng mà có thể phát sinh thêm chi phí khác như phí vận chuyển, phụ phí hàng cồng kềnh, thuế nhập
          khẩu (đối với đơn hàng giao từ nước ngoài có giá trị trên 1 triệu đồng).....
        </p>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
