body {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    top:0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0;
    color: black;
    position: fixed;
    z-index: 5;
}

header h1 {
    width: 20%;
    display: inline-block;
    vertical-align: central;
    text-align: center;
}

header ul {
    display: inline-block;
    width: 70%;
    vertical-align: central;
}
header ul li{
    display: inline-block;
    /*width: 15%;*/
    margin-left: 5%;
    text-align: left;
}

aside {
    color: black;
    float: left;
    width: 20%;
    height: 200px;
    margin-top: 80px;
    position: fixed;
}

aside ul li {
    height: 50px;
    font-size : 1.2em;
}

section {
    margin-top: 80px;
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    left: 20%;
}

/*header h1{*/
/*    display: inline;*/
/*    margin: 5px;*/
/*}*/

/*header ul li{*/
/*    margin: 5px;*/
/*    padding: 0;*/
/*    position: fixed;*/
/*    display: inline;*/
/*}*/